@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Background do Site - Fundo */
/* Adicionar Responsividade nele */
/* Configurações Universais */
body{
    position: relative;
    width: 1440px;
    height: 1024px ;
    background-image: url(../img/inicial.png);
    background-repeat: no-repeat;
    background-size: cover;
}




